
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="row">
        <div class="col-lg-12">
            <div style="display:flex;align-items:center; justify-content:space-between" class="mb-2">
                <h4>Change Password</h4>
            </div>
        </div>
        </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h>Change Password</h>
                        </div>
                        <div class="card-body card-block">
                            <form>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-6">
                                                <!---->
                                                <div class="row mb-4">
                                                    <label for="UserName" class="pr-1  form-control-label col-sm-4">Old Password</label>
                                                    <div class="col-sm-8">
                                                        <input type="password" id="oldPasword" placeholder="Old Password" class="form-control" onchange="clearRequiredMsg(this)">
                                                    </div>
                                                </div>
                                                <div class="row mb-4">
                                                    <label for="password" class="pr-1  form-control-label col-sm-4">New Password</label>
                                                    <div class="col-sm-8">
                                                        <input type="password" id="newPasword" placeholder="New Password" class="form-control"onchange="clearRequiredMsg(this)">
                                                    </div>
                                                </div>
                                                <div class="row mb-4">
                                                    <label for="password" class="pr-1  form-control-label col-sm-4">Confirm Password</label>
                                                    <div class="col-sm-8">
                                                        <input type="password" id="confirmPasword" placeholder="Confirm Password" class="form-control"onchange="clearRequiredMsg(this)">
                                                    </div>
                                                </div>
                                                <div class="form-actions form-group">
                                                    <button class="btn btn-primary btn-sm" id="Update">Update</button>
                                                </div>
                                                <!---->
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script>
            $(document).ready(function () {
                $("#Update").click(function () {
                    if (!validate()) {
                        if ($("#newPasword").val() != $("#confirmPasword").val()) {
                            $("#newPasword").addClass("border-danger");
                            $("#confirmPasword").addClass("border-danger");
                            Swal.fire("", "New Pasword and Confirm Pasword must be same.", "warning");
                        }
                        else {
                            $("#newPasword").removeClass("border-danger");
                            $("#confirmPasword").removeClass("border-danger");
                            UpdatePassword();
                        }
                    }
                    else {
                        Swal.fire("", "Please fill out all fields.", "warning");
                    }
                    return false;
                });
            });
            function clearRequiredMsg(e) {
                var Stocktype = $(e).val();
                if (Stocktype) {
                    $(e).removeClass("border-danger")
                }
            }
            function UpdatePassword() {
                try {
                    $.post("/Home/changePaswordWeb", {
                        Password: $("#oldPasword").val(),
                        NewPassword: $("#newPasword").val()
                    }, function (response) {
                        if (response) {
                            Swal.fire({
                                text: response.responseMessage,
                                icon: "success",
                                allowOutsideClick: false,
                                allowEscapeKey: false
                            });
                        }
                        else if (response) {
                            Swal.fire({
                                icon: 'error',
                                text: response.responseMessage,
                            });
                        }
                        else {
                            window.location.href = "/";
                        }
                    }).fail(function () {
                        Swal.fire(
                            "Error!",
                            "An error occurred while saving the section. Please try again.",
                            "error"
                        );
                    });
                } catch (e) {
                    Swal.fire("Error!", "Error in InsertUpdateSection: " + e.message, "error");
                }
            }
            function validate() {
                let f = false;
                if ($("#oldPasword").val() == "") {
                    $("#oldPasword").addClass("border-danger");
                    f = true;
                }
                else {
                    $("#oldPasword").removeClass("border-danger");
                }
                if ($("#newPasword").val() == "") {
                    $("#newPasword").addClass("border-danger");
                    f = true;
                }
                else {
                    $("#newPasword").removeClass("border-danger");
                }
                if ($("#confirmPasword").val() == "") {
                    $("#confirmPasword").addClass("border-danger");
                    f = true;
                }
                else {
                    $("#confirmPasword").removeClass("border-danger");
                }
                return f
            }
        </script>

