
@{
    ViewBag.Title = "Add_Location";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Scripts/LocationMaster.js?v=3.3.10"></script>
<style>
    #photoBox {
        border: 2px solid #ccc;
        width: 70px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }

    .requrid {
        color: red
    }
</style>

<div class="content">
    <div class="row">
        <div class="col-lg-12">
            <div style="display:flex;align-items:center; justify-content:space-between" class="mb-2">
                <h4>Location Management</h4>
                <a href="~/Location/Location_List" class="btn btn-info btn-sm card-title" style="float:right">Location List</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h>Add Location</h>
                </div>
                <div class="card-body card-block">
                    <form>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-6">

                                        <!---->
                                        <div class="row mb-4">
                                            <label for="DurationName" class="pr-1  form-control-label col-sm-4">Location Name <span class="requrid">*</span></label>
                                            <div class="col-sm-8">
                                                <input type="text" id="LocationName" placeholder="Enter Location Name" class="form-control" onchange="clearRequiredMsg(this)">
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <label for="StatusAutoId" class="pr-1  form-control-label col-sm-4">Image</label>
                                            <div class="col-sm-8">
                                                <input type="file" id="LocationImage" class="form-control">
                                                <div id="photoBox" style="margin-top:5px">
                                                    <div class="bi bi-image">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!---->
                                    </div>
                                    <div class="col-6">

                                        <div class="row mb-4">
                                            <label for="StatusAutoId" class="pr-1  form-control-label col-sm-4">Status <span class="requrid">*</span></label>
                                            <div class="col-sm-8">
                                                <select id="Status" class="form-control" aria-label="Default select example" onchange="clearRequiredMsg(this)">
                                                    <option value="" selected>--Select Status--</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-8">
                                        <div class="form-actions form-group">
                                            <button class="btn btn-primary btn-sm" id="Save">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

