
@{
    ViewBag.Title = "Guides_List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Guide_list.js"></script>
<div class="content">
    <div style="display:flex;align-items:center; justify-content:space-between" class="mb-2">
        <h4>Guide Management</h4>
        <a href="~/Guides/Add_Guides" class="btn btn-info btn-sm card-title" style="float:right">Add Guides</a>
    </div>
    <div class="card col-lg-12">
        <div class="card-header">
            <h>Guide List</h>
        </div>
        <div class="card-body card-block">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col" style="text-align:center">Action</th>

                        <th scope="col" style="text-align:center">AutoId</th>
                        <th scope="col" style="text-align:center">Guide Name</th>
                        <th scope="col" style="text-align:center">Designation</th>
                        <th scope="col" style="text-align:center">Photo </th>
                    </tr>
                </thead>
                <tbody id="Data">
                </tbody>
            </table>
        </div>
    </div>
</div>

